.ProjectCard {
  position: relative;
  text-align: center;
  background-color: #3a373c;
  margin: 50px 10px;
  padding-bottom: 30px;
  filter: drop-shadow(0px 10px 3px black);
}

.ProjectCard a {
  text-decoration: none;
}

.ProjectCard a h3 {
  color: white;
  font-size: 30px;
  padding: 0 5px;
}

.ProjectCard-description {
  background-color: #b9a2c8;
  padding: 12px;
  color: #1c1422;
  font-size: 18px;
  font-weight: 500;
}

.ProjectCard-links {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.ProjectCard-links a,
.ProjectCard-toggle-screenshots {
  color: white;
  background-color: royalblue;
  padding: 5px 20px;
  border-radius: 12px;
  font-size: 15px;
  margin: 4px 20px;
}

.project-header-img {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 100%;
}

.screenshots {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #1c2225;
  z-index: 2;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.screenshots button {
  background-color: transparent;
  color: white;
  box-shadow: none;
  border: none;
  font-size: 23px;
}

.screenshots button:active {
  color: red;
  background-color: black;
}

.screenshots-title {
  text-align: center;
  font-size: 26px;
}
@media screen and (min-width: 820px) {
  .ProjectCard {
    width: 50%;
    max-width: 500px;
    margin: 40px 20px;
  }

  .ProjectCard-links a:hover {
    background-color: blue;
  }

  .screenshots {
    position: relative;
  }

  .screenshots img {
    max-width: 600px;
  }
}
