.Hero {
  padding: 0 20px;
}

.Hero h1 {
  text-align: center;
  font-size: 70px;
  line-height: 64px;
  letter-spacing: -3px;
}

.Hero p {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  margin: 15px auto 20px;
  line-height: 32px;
  letter-spacing: 0px;
  max-width: 540px;
}

.Hero-image-frame {
  text-align: center;
  margin-bottom: 38px;
}

.Hero img {
  height: 235px;
  margin: auto;
  border-radius: 50%;
}
