.Contact {
  background: linear-gradient(
    180deg,
    rgba(38, 45, 52, 1) 0%,
    rgba(107, 120, 152, 1) 86%
  );
  padding: 20px;
}

.Contact-links {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.phone-number {
  text-align: center;
  font-size: 28px;
  margin-top: 0;
}

.Contact-img-frame {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.Contact-img-frame a {
  width: 80%;
  max-width: 150px;
  filter: brightness(2);
  font-size: 70px;
  color: black;
}
