footer {
  width: 100%;
  background: #4e596f;
  position: absolute;
  bottom: 0;

  text-align: left;
  display: flex;
  padding-top: 20px;

  margin-top: auto;
}

footer span {
  margin-bottom: 5px;
  padding-left: 10px;
}
