.ProjectsGallery {
  margin-bottom: 50px;
}

.ProjectsGallery h2 {
  text-align: center;
}

@media screen and (min-width: 820px) {
  .ProjectsGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
}
