@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Jost&family=Roboto+Condensed&family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

body {
  background-color: #212221;
  color: #b638c6;
}

.hide {
  /* height: 100vh; */
  overflow-y: hidden;
}

.font-bank {
  font-family: 'Inconsolata', monospace;
  font-family: 'Jost', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Skranji', cursive;
}

.fixed {
  position: fixed;
}
