.AboutMe {
  padding: 20px;
  margin: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
  background-color: #7b7a86;
  color: black;
}

.AboutMe__description {
  margin: auto;
}

@media screen and (min-width: 820px) {
  .AboutMe {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 24px;
    padding: 24px;
  }
}
